!<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %> 
</head>
<body>
  <div class="container-fluid px-0">
    <div class="contenedor-padre col-12 d-flex justify-content-around mx-0">
      <!-- Partials -->
      <%- include('./partials/sidebar.ejs') %> 
      <%- include('./partials/projectIndex.ejs') %> 
      <%- include('./partials/modalNewProject.ejs') %>
      
      <main class="main-content col-9 bg-light px-5">
        <%- include('./partials/header.ejs') %>
        <div class="col-6 user-edit-container mx-auto">
          <div class="user-edit-body mt-5 d-flex flex-column justify-content-between">
            <form action="/user/editPass/<%= locals.usuario.id %>?_method=PUT" method="POST" class="user-edit-form mb-0">
                <div class="col-10 text-center border-bottom mx-auto">
                    <p class="text-uppercase mb-2">Cambiar contraseña</p>
                </div>
                <div class="d-flex flex-column justify-content-center col-10 mx-auto mt-3 mb-2 border-bottom">
                    <div id="edit-password-inputs">
                        <!-- Email -->
                        <div class="card-title d-flex flex-column justify-content-start align-items-start col-12 mx-auto">
                            <span class="edit-input-span mb-1">Correo electrónico</span>
                            <input type="email" name="email" value="<%= typeof old != 'undefined' ? old.email : '' %>" placeholder="Correo Electrónico" class="col-12 user-edit-input" >
                            <% if(typeof errors != 'undefined' && errors.email){%>
                                <span class="text-danger error-back" > <%=errors.email.msg %></span>
                            <%}%>
                        </div>
                        <!-- Contraseña antigua -->
                        <div class="card-title d-flex flex-column justify-content-start align-items-start col-12 mx-auto">
                            <span class="edit-input-span mb-1">Antigua contraseña</span>
                            <input type="password" name="old_password" placeholder="Antigua contraseña" class="col-12 user-edit-input">
                            <% if(typeof errors != 'undefined' && errors.old_password){%>
                                <span class="text-danger error-back" > <%=errors.old_password.msg %></span>
                            <%}%>
                        </div>
                        <!-- Contraseña nueva -->
                        <div class="card-title d-flex flex-column justify-content-start align-items-start col-12 mx-auto">
                            <span class="edit-input-span mb-1">Nueva contraseña</span>
                            <input type="password" name="password" placeholder="Nueva contraseña" class="col-12 user-edit-input">
                            <% if(typeof errors != 'undefined' && errors.password){%>
                                <span class="text-danger error-back" > <%=errors.password.msg %></span>
                            <%}%>
                        </div>
                        <!-- Confirmar nueva contraseña -->
                        <div class="card-title d-flex flex-column justify-content-start align-items-start col-12 mx-auto mb-3">
                            <span class="edit-input-span mb-1">Confirmar contraseña</span>
                            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="col-12 user-edit-input">
                            <% if(typeof errors != 'undefined' && errors.confirmPassword){%>
                                <span class="text-danger error-back" > <%=errors.confirmPassword.msg %></span>
                            <%}%>
                        </div>
                    </div>
                </div>
                <!-- Btn detalles -->
                <div class="bottom-btn-edit d-flex flex-column justify-content-center align-items-center col-12 mt-3">
                    <button type="submit" class="btn btn-outline-dark card-bottom-edit col-8 mb-2">Guardar Cambios</button>
                    <a href="/" class="btn-delete-cancel">Cancelar</a>
                </div>
            </form>
          </div>
        </div>
      </main>
      
    </div>
  </div>
  <!-- Bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
